extends layout

block content
    div.inner
        h2= title
        .map
            .autocomplete
                input.autocomplete__input(type='text' placeholder='Search for Anything' name='geolocate')
            #map
                p Loading Map...