mixin forgotForm()
    form.form(action='/account/forgot' method="Post")
        h2 I forgot my password!
        label(for="email")
        input(type="email" name='email')
        input.button(type='submit' value='Send a Reset')